<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Default{% endblock %}</title>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
	{% block stylesheets %}
		{% stylesheets 'bundles/app/css/style.css' filter='cssrewrite' %}
			<link rel="stylesheet" type="text/css" href="{{ asset_url }}">
		{% endstylesheets %}
	{% endblock %}
	<script
	  src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous"></script>
	<script
	  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
	  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
	  crossorigin="anonymous"></script>
	<script src="https://malsup.github.io/jquery.blockUI.js"></script>
	<script src="https://use.fontawesome.com/ac498f8deb.js"></script>
</head>
<body>
	<aside id="sidebar">
		<h2>Admin</h2>
		<p style="text-align:center;font-size:0.9em"><small>by OrderHero</small></p>
		<nav role="navigation" id="navigation">
			<a href="{{ path('home') }}"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
			<a href="{{ path('orders') }}"><i class="fa fa-glass" aria-hidden="true"></i> Commandes</a>
		</nav>
	</aside>
	{% block body %}
  {% endblock %}
	{% block javascripts %}
			{% javascripts 'bundles/app/js/toggle-nav.js' %}
				<script src="{{ asset_url }}"></script>
			{% endjavascripts %}
		{% endblock %}
</body>
</html>