<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <meta http-equiv="X-Frame-Options" content="ALLOW-FROM https://www.messenger.com/">
    <meta http-equiv="X-Frame-Options" content="ALLOW-FROM https://www.facebook.com/">
    <title>Paiement confirmé</title>
    <style>
        body, html {
            height: 100%;
            background-color: #f7f8f9;
            color: #6b7c93;
        }

        * {
            font-family: "Helvetica Neue", Helvetica, sans-serif;
            font-size: 16px;
            font-variant: normal;
            padding: 0;
            margin: 0;
            -webkit-font-smoothing: antialiased;
        }

        .response {
            padding: 30px;
            line-height: 30px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="response">
        <h1>Paiement effectué avec succès.</h1>
        <p>Date : {{ "now"|date("d/m/Y") }}</p>
        <p>Montant : {{ total|number_format(2, ',', ' ') }}</p>
        <p>Cette page ce fermera automatiquement dans 5 secondes.</p>
    </div>
    <script>
        window.extAsyncInit = function() {
            setTimeout(function(){
                MessengerExtensions.requestCloseBrowser();
            },5000);
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));
    </script>
</body>
</html>